html,
body {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

b {
  font-weight: 500;
}